<!DOCTYPE HTML>
<html id="course"> 
<nav></nav>
<body class = "container">
	<div>
		<p align="center"><iframe ng-src="{{source}}" frameborder="0" width="70%" height="500" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></p>

		<p align="center"><iframe ng-src="{{source2}}" frameborder="0" width="70%" height="500" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></p>

	</div>
	<div class="font" align="center">
		<p>Once finished with reviewing the course you may start the quiz. 
		<br><br>
		<bold> Note:</bold> In order to pass a minimum of 80% of questions must be answered correctly.</p>
	</div>


	<div align="center">
		<a type = "button" class="btn btn-success" href="#/quiz"><center>Start Quiz</center></a>
		<a type = "button" class="btn btn-danger" href="#/"><center>Cancel</center></a>
	</div>
</body>

</html>
