<!DOCTYPE HTML>
<html id="course"> 
<nav></nav>
<body class = "container">
	<div>
		<iframe src="https://docs.google.com/a/saggezza.com/presentation/d/1_2cIXepARn3W5tjr9PH6Sw2yfvJHmghL8vF0-7VYglc/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
	<div class="font">
		<p>Once finished with reviewing the course you may start the quiz. 
		<br><br>
		<bold> Note:</bold> In order to pass a minimum of 80% of questions must be answered correctly.</p>
	</div>

	<div>
		<a type = "button" class="btn btn-success" href="#/quiz"><center>Start Quiz</center></a>
		<a type = "button" class="btn btn-danger" href="#/dashboard"><center>Cancel</center></a>
	</div>
</body>

</html>
