<html>
<!-- Hide login page if logged in -->
<!--<div ng-hide = "$ctrl.loggedIn">-->
 <span>
   <!--Show Saggezza Institue Page -->
    <div class="jumbotron">
      <img src = "images/saggezzainstitute.png" alt = "Saggezza Institute">
      <img src='images/background.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
      <p> "Knowledge Takes Us Further" </p>
    </div>
  </span>

  <!--Login-->
  <div class = "container">

    <!-- Error Messages -->
    <div class = "alert alert-danger" ng-show = "failedMessage" >
      <p>{{failedMessage}}</p>
    </div>
    <div class = "alert alert-success" ng-show = "successMessage" >
      <p>{{successMessage}}</p>
    </div>

    <!-- Registration link -->
    <div style="float: right;"><a href = "" ng-click = $ctrl.registerUser() style="color: #0000ff"> Not Signed Up?</a></div>


    <!-- Login Form -->
    <form name="loginForm" role="form" ng-submit="$ctrl.login(user)">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" name = "email" ng-model = "user.email" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name = "password" ng-model = "user.password" class="form-control" required />
        </div>
        <div style = "float: left;" class="form-actions">
            <button type="submit" value = "submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    
    <!-- Forgot Password Link -->
    <div style="float: right;" ><a href = "" ng-click = "$ctrl.forgotPassword()" style="color: #0000ff"> Forgot Password? </a></div>

    <!-- Google sign in -->
    <!--<button type="submit" value = "submit" class="btn btn-primary" ng-click = "$ctrl.googleLogin()">Google</button>-->
  </div>

</div>
</html>
