<html>
<h1><center> Update Password </center></h1>
<body>
  <div class = "alert alert-danger" ng-show = "failedMessage" >
    <p>{{failedMessage}}</p>
  </div>
  <div class = "alert alert-success" ng-show = "successMessage" >
    <p>{{successMessage}}</p>
  </div>
  <form name="updatePasswordForm" role="form" ng-submit="updatePassword(user)">
    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" name = "newPassword" ng-model = "user.newPassword" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" name = "confirmNewPassword" ng-model = "user.confirmNewPassword" class="form-control" required />
    </div>
    <button type="submit" value = "submit" class="btn btn-success">Save Changes</button>
  </form>
</body>
</html>
