<html>
<h1> Update Password </h1>
<body>
  <form name="updatePasswordForm" role="form" ng-submit="updatePassword(user)">
    <div class="form-group">
        <label for="password">Temporary Password</label>
        <input type="password" name = "oldPassword" ng-model = "user.oldPassword" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" name = "newPassword" ng-model = "user.newPassword" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="password">Confirm New Password</label>
        <input type="password" name = "confirmNewPassword" ng-model = "user.confirmNewPassword" class="form-control" required />
    </div>
    <div style = "float: left;" class="form-actions">
        <button type="submit" value = "submit" class="btn btn-success">Save Changes</button>
    </div>
  </form>
</body>
</html>
